body {
  font: 15px/1.3 'Roboto', "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-image: url("../img/bg.png");
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
  font-weight: 300;
}

input,
button,
select,
textarea {
  font: 15px/1.3 'Roboto', "Helvetica Neue", Helvetica, arial, sans-serif;
}


a {
  color: #128a96;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #7E2054;
}
a:active,
a:focus {
  color: #7E2054;
}

a h4 {
  color: #444;
}

a:hover h4 {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
}

.welcome {
  margin-top: 80px;
}
.welcome h2 {
  text-align: center;
  font-size: 32px;
  line-height: 45px;
}

.welcome p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  display: block;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.featured-projects {
  float: left;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 60px;
}

h4.subheader {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a.featured-project {
  background-color: #fcfcf9;
  padding: 20px;
  border: 1px solid #efefef;
  margin: 10px 0px;
  display: block;
  color: #888;
}


a.featured-project:hover {
  color: #666;
  background-color: #fefefe;
  border: 1px solid #eaeaea;
  padding: 20px;
  margin: 10px 0px;
}

.featured-project h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}

.featured-project p {
  font-size: 18px;
}

.wrapper {
  margin: 10px auto;
  background-color: #fff;
  float: none;
  display: block;
  border: 1px solid #cfcfcf;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, .1), inset 0px 0px 3px 0px rgba(100, 100, 100, .1);
  box-shadow: 0px 0px 6px 0px rgba(100, 100, 100, .1), inset 0px 0px 3px 0px rgba(100, 100, 100, .1);
  padding: 30px;
}

header {
  height: 50px;
  border-bottom: 1px solid #f6f6f3;
  margin-bottom: 30px;
}

nav.main {
  float: right;
  line-height: 19px;
}

nav.main ul {
  margin: 0px;
}

nav.main ul li {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 10px;
}

img.sbt-logo-small {
  margin: 10px auto;
  display: block;
  margin-top: 0px;
  float: left;
  width: 35px;
  height: 35px;
}

h1.site-name {
  font-family: Lora, Georgia, Times, serif;
  color: #444;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
  font-weight: 100;
  letter-spacing: -1px;
  text-align: left;
  vertical-align: middle;
  display: block;
  padding-top: 10px;
  margin: 0px auto;
  float: left;
}

nav.secondary {
  float: left;
  margin-bottom: 30px;
  display: none;
}

nav.secondary h1 {
  clear: left;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

nav.secondary ul {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

nav.secondary ul li {
  list-style-type: none;
}

nav.secondary ul li a {
  background-color: #f6f6f3;
  color: #565653;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}

nav.secondary ul li a:hover {
  background-color: #fafaf8;
  color: #161613;
  text-decoration: none;
}

nav.secondary ul li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
}

div.main {
}

footer {
  border-top: 1px solid #f6f6f3;
  margin-top: 30px;
}

#mc_embed_signup {
  text-align: center;
  font-size: 2em;
}

#mc_embed_signup form {
  margin: 0px;
}

#mc_embed_signup h4 {
  margin-bottom: 8px;
}

#mc_embed_signup h6 {
  margin: 0px 0px 10px 0px;
}

button,
.button {
  background-color: #128a96;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  border: 0px;
  font-weight: 300;
  cursor: pointer;
  text-shadow: none;
}

button:hover, 
button:focus,
.button:hover, 
.button:focus {
  background-color: #7E2054;
  color: #fff;
}

input.email {
  border: 1px solid #ccc;
  display: inline-block;
  outline: none;
  width: 190px;
  padding: 5px;
  vertical-align: top;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 2.050;
}

ul.tools {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #767673;
}

ul.tools li {
  margin-bottom: 3px;
}

.box {
  float: right;
  background-color: #f6f6f3;
  height: 400px;
}

.center {
  text-align: center;
}

/* books */

#books {
  text-align: center;
  margin: 30px 0px 0px;
  padding: 0px;
}

.book {
  display: inline-block;
  margin-bottom: 30px;
}

.book a.learn {
  display: block;
  margin: 0px 20px;
  width: 250px;
}

.book img {
  width: 100%;
  height: auto;
}

.book a.learn > p {
  text-align: left;
  margin-left: 0px;
}

.book > p {
  text-align: left;
  margin-left: 20px;
}

.learn-more {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.price {
  margin-left: 10px;
  font-size: 2.2em;
  vertical-align: middle;
}

#book {
  width: 250px;
  float: right;
  margin: 0px 0px 50px 40px;
}

#book img {
  width: 100%;
  height: auto;
}

#book #meta {
  font-size: 10px;
}

/* projects */
.project {
  min-height: 180px;
}

.project img {
  float: left;
  border: 1px solid #d6d6d3;
  width: 175px;
  height: auto;
  margin-right: 20px;
}

b {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  letter-spacing: -1px;
}

blockquote {
  font-family: Monaco, monospace;
  margin: 10px 0px;
  border: 1px solid #e6e6e3;
  padding: 20px;
}

blockquote p {
  margin: 0px;
  line-height: 30px;
}

h1#page-title {
  margin-top: 50px;
}

.container {
  margin: 0px auto;
}

#books-embed {
  border: 0px;
  width: 100%;
  height: 1300px;
}

@media only screen and (min-width: 480px) {

  .wrapper {
    margin: 50px auto;
  }
  
  .container {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 600px;
  }

}

@media only screen and (min-width: 1024px) {
  .container {
    width: 800px;
  }

  #books-embed {
    height: 700px;
  }
}

