<ul id="books">
  <li class="book">
    <a href="{{ site.baseurl }}/books/learnjs" class="learn">
      <img src="{{ site.baseurl }}/img/learnjs.jpg" />
      <p><strong>Learn.js: a guidebook for building projects with javascript</strong></p>
      <p><a class="button buy" href="{{ site.baseurl }}/books/learnjs">Learn more</a> <span class="price">$10</span></p>
    </a>
  </li>

  <li class="book">
    <a href="{{ site.baseurl }}/books/dev-envs" class="learn">
      <img src="{{ site.baseurl }}/img/dev-envs.cover.300x388.jpg" />
      <p><strong>Development environments for beginners</strong></p>
      <p><a class="button buy" href="{{ site.baseurl }}/books/dev-envs">Learn more</a> <span class="price">$5</span></p>
    </a>
  </li>
</ul>