---
layout: default
---
<nav class="secondary span2">
  <h1>Explore our books</h1>
  <ul>
    <li class="ouya"><a href="{{ site.baseurl }}/books/ouya-games.html"><b>Developing OUYA Games</b></a></li>
    <li class="hack-tumblr"><a href="{{ site.baseurl }}/books/hack-tumblr.html"><b>Hack Tumblr:</b> Learn the basics of web design</a></li>
    <li class="news-code"><a href="{{ site.baseurl }}/books/news-code.html"><b>News & Code:</b> Learn web development for journalism</a></li>
  </ul>
</nav>

<div class="main">
  <div class="span9">
    {{ content }}
  </div>
  <div class="clearfix"></div>
</div>
