---
layout: default
---
<nav class="secondary span2">
  <ul>
    <li class="projects"><a href="{{ site.baseurl }}/projects.html"><b>Projects:</b> Read about and get involved in open source and community projects run by Super Big Tree.</a></li>
    <li class="blog"><a href="http://superbigtree.tumblr.com"><b>Read the Super Big Tree blog.</b></a></li>
    <li class="contact"><a href="{{ site.baseurl }}/contact.html"><b>Make contact.</b></a></li>
  </ul>
</nav>

<div class="main">
  <div class="span9">
    {{ content }}
  </div>
  <div class="clearfix"></div>
</div>