---
layout: default
---
<nav class="secondary span2">
  <h1>Explore</h1>
  <ul>
    <li class="books"><a href="{{ site.baseurl }}/books.html"><b>Books:</b> Learn web development, game design, and coding for news.</a></li>
    <li class="themes"><a href="{{ site.baseurl }}/themes.html"><b>Themes:</b> Buy themes for Wordpress, Tumblr, and Drupal.</a></li>
    <li class="projects"><a href="{{ site.baseurl }}/projects.html"><b>Projects:</b> Read about and get involved in open source and community projects run by Super Big Tree.</a></li>
    <li class="blog"><a href="http://superbigtree.tumblr.com" target="_blank"><b>Read the Super Big Tree blog.</b></a></li>
    <li class="contact"><a href="{{ site.baseurl }}/contact.html"><b>Make contact.</b></a></li>
  </ul>
</nav>

<div class="main">
  <div class="span9">
    {{ content }}
  </div>
  <div class="clearfix"></div>
</div>